<div role="document">
  <div
    class="_rp_T4 _rp_U4 ms-font-weight-regular ms-font-color-neutralDark"
    style="display: none"
  ></div>
  <div autoid="_rp_w" class="_rp_T4" style="display: none"></div>
  <div autoid="_rp_x" class="_rp_T4" id="Item.MessagePartBody">
    <div
      class="_rp_U4 ms-font-weight-regular ms-font-color-neutralDark rpHighlightAllClass rpHighlightBodyClass"
      id="Item.MessageUniqueBody"
      style="
        font-family: wf_segoe-ui_normal, 'Segoe UI', 'Segoe WP', Tahoma, Arial,
          sans-serif, serif, EmojiFont;
      "
    >
      <div>
        <div>
          <span lang="pt-BR">
            <div>
              <div align="center" style="text-align: center">
                <table
                  width="1121"
                  border="0"
                  cellspacing="0"
                  cellpadding="0"
                  style="border-collapse: collapse; width: 672.85pt"
                >
                  <tbody>
                    <tr>
                      <td
                        colspan="5"
                        width="1121"
                        valign="top"
                        style="width: 672.85pt; padding: 0"
                      >
                        <div
                          align="center"
                          style="text-align: center; margin: 0"
                        >
                          <font
                            face="Calibri,sans-serif"
                            size="2"
                            style="
                              font-family: Calibri, sans-serif, serif, EmojiFont;
                            "
                            ><span style="font-size: 11pt"
                              ><img
                                originalsrc="cid:image002.jpg@01D75D45.16B8DEE0"
                                data-custom="AAMkAGVjMmU5YmI3LWIxNTQtNGJjNy1hNDQyLTU3ZGQ1NzcxOTkzMQBGAAAAAABBfXkZftH1Sa0%2BVAqZH2vMBwCrSA0Xrmv2TLRBgy%2FfuvZdAAAAAAEMAACrSA0Xrmv2TLRBgy%2FfuvZdAAAz9xmaAAABEgAQADMuhzvFd7NBkFfVsD61n%2BU%3D"
                                naturalheight="121"
                                naturalwidth="1182"
                                src="https://bacen-my.sharepoint.com/:i:/r/personal/matheus_santiago_bcb_gov_br/Documents/banner-dou.jpg?csf=1&web=1&e=yWlFhO"
                                width="984"
                                height="100"
                                id="Imagem_x0020_1"
                                crossorigin="anonymous" /></span
                          ></font>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td
                        width="70"
                        valign="top"
                        style="width: 42.55pt; padding: 0"
                      >
                        <div style="background-color: white; margin: 0">
                          <font
                            face="Calibri,sans-serif"
                            size="2"
                            style="
                              font-family: Calibri, sans-serif, serif, EmojiFont;
                            "
                            ><span
                              style="font-size: 11pt; background-color: white"
                              ><font size="3" color="#404040"
                                ><span style="font-size: 12pt"
                                  >&nbsp;</span
                                ></font
                              ></span
                            ></font
                          >
                        </div>
                      </td>
                      <td
                        colspan="3"
                        width="980"
                        valign="top"
                        style="width: 588.25pt; padding: 0"
                      >
                        <div
                          align="center"
                          style="text-align: center; margin: 0"
                        >
                          <font
                            face="Calibri,sans-serif"
                            size="2"
                            style="
                              font-family: Calibri, sans-serif, serif, EmojiFont;
                            "
                            ><span style="font-size: 11pt"
                              ><font color="#7F7F7F"
                                >Secretaria da Diretoria e do Conselho Monetário
                                Nacional – Sucon</font
                              ></span
                            ></font
                          >
                        </div>
                      </td>
                      <td
                        width="70"
                        valign="top"
                        style="width: 42.5pt; padding: 0"
                      >
                        <div style="margin: 0">
                          <font
                            face="Calibri,sans-serif"
                            size="2"
                            style="
                              font-family: Calibri, sans-serif, serif, EmojiFont;
                            "
                            ><span style="font-size: 11pt"
                              ><font size="3" color="#1F497D"
                                ><span style="font-size: 12pt"
                                  ><b>&nbsp;</b></span
                                ></font
                              ></span
                            ></font
                          >
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <!-- |────────────────────────────| -->
                      <td
                        width="70"
                        valign="top"
                        style="width: 42.55pt; padding: 0"
                      >
                        <div style="background-color: white; margin: 0">
                          <font
                            face="Calibri,sans-serif"
                            size="2"
                            style="
                              font-family: Calibri, sans-serif, serif, EmojiFont;
                            "
                            ><span
                              style="font-size: 11pt; background-color: white"
                              ><font size="3" color="#404040"
                                ><span style="font-size: 12pt"
                                  >&nbsp;</span
                                ></font
                              ></span
                            ></font
                          >
                        </div>
                      </td>
                      <td
                        colspan="3"
                        width="980"
                        valign="top"
                        style="width: 588.25pt; padding: 0"
                      >
                        <div
                          align="center"
                          style="
                            text-align: center;
                            background-color: white;
                            margin: 0;
                          "
                        >
                          <font
                            face="Calibri,sans-serif"
                            size="2"
                            style="
                              font-family: Calibri, sans-serif, serif, EmojiFont;
                            "
                            ><span
                              style="font-size: 11pt; background-color: white"
                              ><font
                                face="Ubuntu Light,sans-serif"
                                size="4"
                                color="#404040"
                                style="
                                  font-family: 'Ubuntu Light', sans-serif, serif,
                                    EmojiFont;
                                "
                                ><span style="font-size: 14pt"
                                  ><b>&nbsp;</b></span
                                ></font
                              ></span
                            ></font
                          >
                        </div>
                      </td>
                      <td
                        width="70"
                        valign="top"
                        style="width: 42.5pt; padding: 0"
                      >
                        <div style="margin: 0">
                          <font
                            face="Calibri,sans-serif"
                            size="2"
                            style="
                              font-family: Calibri, sans-serif, serif, EmojiFont;
                            "
                            ><span style="font-size: 11pt"
                              ><font size="3" color="#1F497D"
                                ><span style="font-size: 12pt"
                                  ><b>&nbsp;</b></span
                                ></font
                              ></span
                            ></font
                          >
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td
                        width="70"
                        valign="top"
                        style="width: 42.55pt; padding: 0"
                      >
                        <div style="background-color: white; margin: 0">
                          <font
                            face="Calibri,sans-serif"
                            size="2"
                            style="
                              font-family: Calibri, sans-serif, serif, EmojiFont;
                            "
                            ><span
                              style="font-size: 11pt; background-color: white"
                              ><font size="3" color="#404040"
                                ><span style="font-size: 12pt"
                                  >&nbsp;</span
                                ></font
                              ></span
                            ></font
                          >
                        </div>
                      </td>
                      <td
                        colspan="3"
                        width="980"
                        valign="top"
                        style="width: 588.25pt; padding: 0"
                      >
                        <div
                          align="center"
                          style="
                            text-align: center;
                            background-color: white;
                            margin: 0;
                          "
                        >
                          <font
                            face="Calibri,sans-serif"
                            size="2"
                            style="
                              font-family: Calibri, sans-serif, serif, EmojiFont;
                            "
                            ><span
                              style="font-size: 11pt; background-color: white"
                              ><font
                                face="Ubuntu Light,sans-serif"
                                size="4"
                                color="#404040"
                                style="
                                  font-family: 'Ubuntu Light', sans-serif, serif,
                                    EmojiFont;
                                "
                                ><span style="font-size: 14pt"
                                  ><b>{{titulo}}</b></span
                                ></font
                              ></span
                            ></font
                          >
                        </div>
                        {% if sumula|length == 0 %}
                        <p style="text-align: center">Prezado(a),</p>
                        <p style="text-align: left;">Informamos que hoje não foram identificadas publicações no Diário Oficial da União (DOU) a serem divulgadas no âmbito do Banco Central, segundo os critérios de pesquisa definidos.</p>
                        <p style="text-align: left;">Sucon</p>

                        {% endif %}
                        <div
                          align="center"
                          style="
                            text-align: center;
                            background-color: white;
                            margin: 0;
                          "
                        >
                          <font
                            face="Calibri,sans-serif"
                            size="2"
                            style="
                              font-family: Calibri, sans-serif, serif, EmojiFont;
                            "
                            ><span
                              style="font-size: 11pt; background-color: white"
                              ><font size="2" color="#404040"
                                ><span style="font-size: 10pt"
                                  >&nbsp;</span
                                ></font
                              ></span
                            ></font
                          >
                        </div>
                      </td>
                      <td
                        width="70"
                        valign="top"
                        style="width: 42.5pt; padding: 0"
                      >
                        <div style="margin: 0">
                          <font
                            face="Calibri,sans-serif"
                            size="2"
                            style="
                              font-family: Calibri, sans-serif, serif, EmojiFont;
                            "
                            ><span style="font-size: 11pt"
                              ><font size="3" color="#1F497D"
                                ><span style="font-size: 12pt"
                                  ><b>&nbsp;</b></span
                                ></font
                              ></span
                            ></font
                          >
                        </div>
                      </td>
                    </tr>
                    <!-- |────────────────────────────||────────────────────────────| -->
                    {% for escopo, pubs in sumula.items() %}
                    <tr>
                      <td
                        width="70"
                        valign="top"
                        style="width: 42.55pt; padding: 0"
                      >
                        <div align="right" style="margin: 0">
                          <font
                            face="Calibri,sans-serif"
                            size="2"
                            style="
                              font-family: Calibri, sans-serif, serif, EmojiFont;
                            "
                            ><span style="font-size: 11pt"
                              ><font
                                face="Times New Roman,serif"
                                size="3"
                                style="
                                  font-family: 'Times New Roman', serif, serif,
                                    EmojiFont;
                                "
                                ><span style="font-size: 12pt"
                                  >&nbsp;</span
                                ></font
                              ></span
                            ></font
                          >
                        </div>
                      </td>
                      <td
                        width="318"
                        valign="top"
                        style="width: 191.35pt; padding: 0 5.4pt"
                      >
                        <div style="margin: 0">
                          <font
                            face="Calibri,sans-serif"
                            size="2"
                            style="
                              font-family: Calibri, sans-serif, serif, EmojiFont;
                            "
                            ><span style="font-size: 11pt"
                              ><font color="#0563C1">&nbsp;</font></span
                            ></font
                          >
                        </div>
                      </td>
                      <td
                        width="35"
                        valign="top"
                        style="width: 21.25pt; padding: 0"
                      >
                        <div style="margin: 0">
                          <font
                            face="Calibri,sans-serif"
                            size="2"
                            style="
                              font-family: Calibri, sans-serif, serif, EmojiFont;
                            "
                            ><span style="font-size: 11pt"
                              ><font color="#404040">&nbsp;</font></span
                            ></font
                          >
                        </div>
                      </td>
                      <td
                        width="626"
                        valign="top"
                        style="
                          width: 375.65pt;
                          background-color: white;
                          padding: 0 5.4pt;
                        "
                      >
                        <span style="background-color: white">
                          <div align="justify" style="margin: 0">
                            <font
                              face="Calibri,sans-serif"
                              size="2"
                              style="
                                font-family: Calibri, sans-serif, serif,
                                  EmojiFont;
                              "
                              ><span style="font-size: 11pt"
                                ><font size="3"
                                  ><span style="font-size: 12pt"
                                    >&nbsp;</span
                                  ></font
                                ></span
                              ></font
                            >
                          </div>
                        </span>
                      </td>
                      <td
                        width="70"
                        valign="top"
                        style="width: 42.5pt; padding: 0"
                      >
                        <div style="margin: 0">
                          <font
                            face="Calibri,sans-serif"
                            size="2"
                            style="
                              font-family: Calibri, sans-serif, serif, EmojiFont;
                            "
                            ><span style="font-size: 11pt"
                              ><font size="3" color="#404040"
                                ><span style="font-size: 12pt"
                                  >&nbsp;</span
                                ></font
                              ></span
                            ></font
                          >
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td
                        width="70"
                        valign="top"
                        style="width: 42.55pt; padding: 0"
                      >
                        <div align="right" style="margin: 0">
                          <font
                            face="Calibri,sans-serif"
                            size="2"
                            style="
                              font-family: Calibri, sans-serif, serif, EmojiFont;
                            "
                            ><span style="font-size: 11pt"
                              ><font
                                face="Times New Roman,serif"
                                size="3"
                                style="
                                  font-family: 'Times New Roman', serif, serif,
                                    EmojiFont;
                                "
                                ><span style="font-size: 12pt"
                                  >&nbsp;</span
                                ></font
                              ></span
                            ></font
                          >
                        </div>
                      </td>
                      <td
                        width="318"
                        valign="top"
                        style="
                          width: 191.35pt;
                          padding: 0 5.4pt;
                          border-style: none none solid none;
                          border-bottom-width: 1pt;
                          border-bottom-color: #a5a5a5;
                        "
                      >
                        <div style="margin: 0">
                          <font
                            face="Calibri,sans-serif"
                            size="2"
                            style="
                              font-family: Calibri, sans-serif, serif, EmojiFont;
                            "
                            ><span style="font-size: 11pt"
                              ><font size="3" color="#404040"
                                ><span style="font-size: 13pt"
                                  ><b>{{escopo}}</b></span
                                ></font
                              ></span
                            ></font
                          >
                        </div>
                      </td>
                      <td
                        width="35"
                        valign="top"
                        style="
                          width: 21.25pt;
                          padding: 0;
                          border-style: none none solid none;
                          border-bottom-width: 1pt;
                          border-bottom-color: #a5a5a5;
                        "
                      >
                        <div style="margin: 0">
                          <font
                            face="Calibri,sans-serif"
                            size="2"
                            style="
                              font-family: Calibri, sans-serif, serif, EmojiFont;
                            "
                            ><span style="font-size: 11pt"
                              ><font color="#404040">&nbsp;</font></span
                            ></font
                          >
                        </div>
                      </td>
                      <td
                        width="626"
                        valign="top"
                        style="
                          width: 375.65pt;
                          background-color: white;
                          padding: 0 5.4pt;
                          border-style: none none solid none;
                          border-bottom-width: 1pt;
                          border-bottom-color: #a5a5a5;
                        "
                      >
                        <span style="background-color: white">
                          <div align="justify" style="margin: 0">
                            <font
                              face="Calibri,sans-serif"
                              size="2"
                              style="
                                font-family: Calibri, sans-serif, serif,
                                  EmojiFont;
                              "
                              ><span style="font-size: 11pt"
                                ><font size="3" color="#404040"
                                  ><span style="font-size: 12pt"
                                    >&nbsp;</span
                                  ></font
                                ></span
                              ></font
                            >
                          </div>
                        </span>
                      </td>
                      <td
                        width="70"
                        valign="top"
                        style="width: 42.5pt; padding: 0"
                      >
                        <div style="margin: 0">
                          <font
                            face="Calibri,sans-serif"
                            size="2"
                            style="
                              font-family: Calibri, sans-serif, serif, EmojiFont;
                            "
                            ><span style="font-size: 11pt"
                              ><font size="3" color="#404040"
                                ><span style="font-size: 12pt"
                                  >&nbsp;</span
                                ></font
                              ></span
                            ></font
                          >
                        </div>
                      </td>

                      {% for pub in pubs %}
                    </tr>
                    <tr>
                      <td
                        width="70"
                        valign="top"
                        style="width: 42.55pt; padding: 0"
                      >
                        <div align="right" style="margin: 0">
                          <font
                            face="Calibri,sans-serif"
                            size="2"
                            style="
                              font-family: Calibri, sans-serif, serif, EmojiFont;
                            "
                            ><span style="font-size: 11pt"
                              ><font
                                face="Times New Roman,serif"
                                size="3"
                                style="
                                  font-family: 'Times New Roman', serif, serif,
                                    EmojiFont;
                                "
                                ><span style="font-size: 12pt"
                                  >&nbsp;</span
                                ></font
                              ></span
                            ></font
                          >
                        </div>
                      </td>
                      <td
                        width="318"
                        valign="top"
                        style="width: 191.35pt; padding: 0 5.4pt"
                      >
                        <div style="margin: 0">
                          <font
                            face="Calibri,sans-serif"
                            size="2"
                            style="
                              font-family: Calibri, sans-serif, serif, EmojiFont;
                            "
                            ><span style="font-size: 11pt"
                              ><font color="#0563C1">&nbsp;</font></span
                            ></font
                          >
                        </div>
                      </td>
                      <td
                        width="35"
                        valign="top"
                        style="width: 21.25pt; padding: 0"
                      >
                        <div style="margin: 0">
                          <font
                            face="Calibri,sans-serif"
                            size="2"
                            style="
                              font-family: Calibri, sans-serif, serif, EmojiFont;
                            "
                            ><span style="font-size: 11pt"
                              ><font color="#404040">&nbsp;</font></span
                            ></font
                          >
                        </div>
                      </td>
                      <td
                        width="626"
                        valign="top"
                        style="
                          width: 375.65pt;
                          background-color: white;
                          padding: 0 5.4pt;
                        "
                      >
                        <span style="background-color: white">
                          <div align="justify" style="margin: 0">
                            <font
                              face="Calibri,sans-serif"
                              size="2"
                              style="
                                font-family: Calibri, sans-serif, serif,
                                  EmojiFont;
                              "
                              ><span style="font-size: 11pt"
                                ><font size="3" color="#404040"
                                  ><span style="font-size: 12pt"
                                    >&nbsp;</span
                                  ></font
                                ></span
                              ></font
                            >
                          </div>
                        </span>
                      </td>
                      <td
                        width="70"
                        valign="top"
                        style="width: 42.5pt; padding: 0"
                      >
                        <div style="margin: 0">
                          <font
                            face="Calibri,sans-serif"
                            size="2"
                            style="
                              font-family: Calibri, sans-serif, serif, EmojiFont;
                            "
                            ><span style="font-size: 11pt"
                              ><font size="3" color="#404040"
                                ><span style="font-size: 12pt"
                                  >&nbsp;</span
                                ></font
                              ></span
                            ></font
                          >
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td
                        width="70"
                        valign="top"
                        style="width: 42.55pt; padding: 0"
                      >
                        <div align="right" style="margin: 0">
                          <font
                            face="Calibri,sans-serif"
                            size="2"
                            style="
                              font-family: Calibri, sans-serif, serif, EmojiFont;
                            "
                            ><span style="font-size: 11pt"
                              ><font
                                face="Times New Roman,serif"
                                size="3"
                                style="
                                  font-family: 'Times New Roman', serif, serif,
                                    EmojiFont;
                                "
                                ><span style="font-size: 12pt"
                                  >&nbsp;</span
                                ></font
                              ></span
                            ></font
                          >
                        </div>
                      </td>
                      <td
                        width="318"
                        valign="top"
                        style="width: 191.35pt; padding: 0 5.4pt"
                      >
                        <div style="margin: 0">
                          <font
                            face="Calibri,sans-serif"
                            size="2"
                            style="
                              font-family: Calibri, sans-serif, serif, EmojiFont;
                            "
                            ><span style="font-size: 11pt"
                              ><a
                                href="{{pub['url']}}"
                                target="_blank"
                                rel="noopener noreferrer"
                                ><font size="3"
                                  ><span style="font-size: 12pt"
                                    >{{pub['titulo']}}</span
                                  ></font
                                ></a
                              ></span
                            ></font
                          >
                        </div>
                      </td>
                      <td
                        width="35"
                        valign="top"
                        style="width: 21.25pt; padding: 0"
                      >
                        <div style="margin: 0">
                          <font
                            face="Calibri,sans-serif"
                            size="2"
                            style="
                              font-family: Calibri, sans-serif, serif, EmojiFont;
                            "
                            ><span style="font-size: 11pt"
                              ><font color="#404040">&nbsp;</font></span
                            ></font
                          >
                        </div>
                      </td>
                      <td
                        width="626"
                        valign="top"
                        style="
                          width: 375.65pt;
                          background-color: white;
                          padding: 0 5.4pt;
                        "
                      >
                        <span style="background-color: white">
                          <div align="justify" style="margin: 0">
                            <font
                              face="Calibri,sans-serif"
                              size="2"
                              style="
                                font-family: Calibri, sans-serif, serif,
                                  EmojiFont;
                              "
                              ><span style="font-size: 11pt"
                                ><font size="3" color="#404040"
                                  ><span style="font-size: 12pt"
                                    >{{pub['ementa']}}</span
                                  ></font
                                ></span
                              ></font
                            >
                          </div>
                        </span>
                      </td>
                      <td
                        width="70"
                        valign="top"
                        style="width: 42.5pt; padding: 0"
                      >
                        <div style="margin: 0">
                          <font
                            face="Calibri,sans-serif"
                            size="2"
                            style="
                              font-family: Calibri, sans-serif, serif, EmojiFont;
                            "
                            ><span style="font-size: 11pt"
                              ><font size="3" color="#404040"
                                ><span style="font-size: 12pt"
                                  >&nbsp;</span
                                ></font
                              ></span
                            ></font
                          >
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td
                        width="70"
                        valign="top"
                        style="width: 42.55pt; padding: 0"
                      >
                        <div align="right" style="margin: 0">
                          <font
                            face="Calibri,sans-serif"
                            size="2"
                            style="
                              font-family: Calibri, sans-serif, serif, EmojiFont;
                            "
                            ><span style="font-size: 11pt"
                              ><font
                                face="Times New Roman,serif"
                                size="3"
                                style="
                                  font-family: 'Times New Roman', serif, serif,
                                    EmojiFont;
                                "
                                ><span style="font-size: 12pt"
                                  >&nbsp;</span
                                ></font
                              ></span
                            ></font
                          >
                        </div>
                      </td>
                      <td
                        width="318"
                        valign="top"
                        style="width: 191.35pt; padding: 0 5.4pt"
                      >
                        <div style="margin: 0">
                          <font
                            face="Calibri,sans-serif"
                            size="2"
                            style="
                              font-family: Calibri, sans-serif, serif, EmojiFont;
                            "
                            ><span style="font-size: 11pt"
                              ><font color="#0563C1">&nbsp;</font></span
                            ></font
                          >
                        </div>
                      </td>
                      <td
                        width="35"
                        valign="top"
                        style="width: 21.25pt; padding: 0"
                      >
                        <div style="margin: 0">
                          <font
                            face="Calibri,sans-serif"
                            size="2"
                            style="
                              font-family: Calibri, sans-serif, serif, EmojiFont;
                            "
                            ><span style="font-size: 11pt"
                              ><font color="#404040">&nbsp;</font></span
                            ></font
                          >
                        </div>
                      </td>
                      <td
                        width="626"
                        valign="top"
                        style="
                          width: 375.65pt;
                          background-color: white;
                          padding: 0 5.4pt;
                        "
                      >
                        <span style="background-color: white">
                          <div align="justify" style="margin: 0">
                            <font
                              face="Calibri,sans-serif"
                              size="2"
                              style="
                                font-family: Calibri, sans-serif, serif,
                                  EmojiFont;
                              "
                              ><span style="font-size: 11pt"
                                ><font size="3" color="#404040"
                                  ><span style="font-size: 12pt"
                                    >&nbsp;</span
                                  ></font
                                ></span
                              ></font
                            >
                          </div>
                        </span>
                      </td>
                      <td
                        width="70"
                        valign="top"
                        style="width: 42.5pt; padding: 0"
                      >
                        <div style="margin: 0">
                          <font
                            face="Calibri,sans-serif"
                            size="2"
                            style="
                              font-family: Calibri, sans-serif, serif, EmojiFont;
                            "
                            ><span style="font-size: 11pt"
                              ><font size="3" color="#404040"
                                ><span style="font-size: 12pt"
                                  >&nbsp;</span
                                ></font
                              ></span
                            ></font
                          >
                        </div>
                      </td>
                    </tr>
                    {% endfor %} {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
